<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <style>
        [v-cloak] {
            display: none;
        }

        button {
            width: 100px;
            height: 40px;
            background: salmon;
            font-size: 20px;
            border: 3px solid #9a6666;
        }
        .body {
            width: 400px;
            height: 400px;
            border: 3px solid sandybrown;
            text-align: center;
            line-height: 400px; 
        }
        .current{
            background:cadetblue;
        }
    </style>
</head>

<body>
    <div id="app" v-cloak>
        <h1>{{name}}</h1>
        <button v-for='(item,index) in ary' @click='change(index)' :class='{current:qqq==index}'>{{item}}</button>
        <div class='body' v-for='(item,index) in body' v-show='index===qqq'>{{item}}</div>
       <!--  <div class='body' >{{body[qqq]}}</div> -->
    </div>
</body>

</html>
<script src="../node_modules/vue/dist/vue.js"></script>
<script>
    let vm = new Vue({
        el: '#app',
        data: {
            name: "珠峰",
            ary: ['js', 'css', 'html', 'vue'],
            body: ['JS学的好', 'css学的好', 'html好', 'vue更好'],
            qqq:0
        },
        methods: {
            change(n) {
               this.qqq=n
            }
        },
    })
</script>