<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <style>
        [v-cloak] {
            display: none;
        }
    </style>
</head>

<body>
    <div id="app" v-cloak>
        <input type="text" v-model='firstName'>
        <input type="text" v-model='middltName'>
        <input type="text" v-model='lastName'>

        <h1>{{name}}</h1>
        <h2>名字是{{fullName}}</h2>
        <h2>计算属性名字{{fullName2}}</h2>
    </div>
</body>

</html>
<script src="../node_modules/vue/dist/vue.js"></script>
<script>
    let vm = new Vue({
        el: '#app',
        data: {
            name: "珠峰",
            firstName: '',
            middltName: '',
            lastName: '',
            fullName: '珠峰·侏罗·世纪公园'
        },
        computed: {
            fullName2(){
                return `${this.firstName}·${this.middltName}·${this.lastName}`
            }
        },
        watch: {
            firstName(nweV,oldV){
                this.fullName=nweV+this.middltName+this.lastName
            },
            middltName(nweV,oldV){
                this.fullName=this.firstName+nweV+this.lastName
            },
            lastName(nweV,oldV){
                this.fullName=this.firstName+this.middltName+nweV
            }
        },
    })
</script>